<% include partials/header %>

<body class="landing">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h1>Yelp Camp</h1>
				<h3>The Only Campground App</h3>
				<hr>
                <a id="noShadow" class="btn btn-default btn-lg" href="campgrounds"><i class="fa fa-compass" aria-hidden="true">View all campgrounds!</i></a>
			</div>
		</div>
	</div>
</div>
</body>

<% include partials/footer %>
